
code/.DS_Store

.DS_Store

jfp/pics/spine.graffle

jfp/LongParens.tex

*.ptb

jfp/LongParens.pdf

*.log

*.blg

*.aux

*.agdai

arxiv/LongParens.tex

*.out

arxiv/LongParens.pdf

icfp/LongParensICFP.tex

icfp/LongParensICFP.pdf

icfp/comment.cut

jfp2/LongParens.pdf

jfp2/LongParens.tex

code/lbp

*.hi

*.o

code/samplegen

code/samples/
